
resources/.config/chromium
resources/.config/Google/AndroidStudio2021.2
resources/.config/configstore
resources/.config/gtk-3.0
resources/.config/lazygit
resources/.config/netlify
resources/.config/pulse
resources/.config/sublime-merge
resources/.config/test
resources/.config/unity3d/Unity
resources/.config/unityhub
resources/.config/.github
resources/.config/Android Open Source Project
resources/.config/dconf