resources/.config/*
!resources/.config/rofi
!resources/.config/scripts
!resources/.config/polybar
!resources/.config/lvim
!resources/.config/lvim
!resources/.config/i3
!resources/.config/systemd 
!resources/.config/dunst 
!resources/.config/envrc 
!resources/.config/aliasrc 

