!! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

*.cursorColor:  #F8F8F2
*.fading: 35
*.fadeColor: #4D4D4D

!! Xterm
XTerm.vt100.locale: true
XTerm.vt100.metaSendsEscape: true
XTerm*faceName: Fira Code Nerd Font Mono
XTerm*faceSize: 11
XTerm*renderFont: true
XTerm*selectToClipboard: true
XTerm*termName: xterm-256color

!! URxvt
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
